<footer>
    <div id="footer-back">
        <nav id="nav-pc-end">
            <a href="/">TOPページ</a>
            <a href="about.html">概要</a>
            <a href="/tournament">大会結果</a>
            <a href="/records">歴代記録</a>
            <a href="/member">選手紹介</a>
            <a href="/blog">陸ブログ</a>
            <a href="https://www.instagram.com/kyutech_taf_official?igsh=MWR3dzBxM2c4dnc5ZA==" id="instagram" target="_blank"></a>
            <a href="https://x.com/kittaf0705" id="twiter" target="_blank"></a>
            <a href="/login">ログイン</a>
        </nav>
        <hr id="footer-line">
        <p>九州工業大学陸上競技部</p>
        <p>copyright © 2024 Kyushu Institute of Technology University Track and Field Club</p>
        </div>
</footer>


