<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>九州工業大学陸上競技部</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.10/xlsx.full.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/top.css">
  <link rel="stylesheet" href="/css/records.css">
  <link rel="stylesheet" href="/css/output.css">
</head>

<body>
  <div id="header">
    <script>
      fetch("/header.ejs")
        .then(response => response.text())
        .then(data => {
          document.querySelector("#header").innerHTML = data;
        })
        .catch(error => console.error('Error fetching header:', error));
    </script>
  </div>

  <main class="content">
    <div id=record>
      <h2>記録</h2>
      <h1>100m</h1>
      <table id="100mtable">
        <thead>
          </tr>
          <tr>
            <th>順位</th>
            <th>記録</th>
            <th>名前</th>
            <th>大会名</th>
            <th>場所</th>
            <th>日付</th>
          </tr>
          <tr>
            <td>1</td>
            <td>11&quot;02</td>
            <td>大倉隆平</td>
            <td>朝日記録会</td>
            <td>鞘ヶ谷</td>
            <td>2021/11/7</td>
          </tr>
          <tr>
            <td>2</td>
            <td>11&quot;05</td>
            <td>尾崎俊祐</td>
            <td>鞘ヶ谷記録会</td>
            <td>鞘ヶ谷</td>
            <td>2019/8/3</td>
          </tr>
          <tr>
            <td>3</td>
            <td>11&quot;14</td>
            <td>原祐介</td>
            <td>北九州インカレ</td>
            <td>鞘ヶ谷</td>
            <td>2023/6/3</td>
          </tr>
          <tr>
            <td>4</td>
            <td>11&quot;25</td>
            <td>吉田亮介</td>
            <td>北九州インカレ</td>
            <td>鞘ヶ谷</td>
            <td>2023/6/3</td>
          </tr>
          <tr>
            <td>5</td>
            <td>11&quot;59</td>
            <td>岩永俊介</td>
            <td>新人戦</td>
            <td>島原</td>
            <td>2023/10/15</td>
          </tr>
      </table>
      </thead>
      <tbody>
      </tbody>

      <h1>200m</h1>
      <table id="200mtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>21&quot;99</td>
          <td>大倉隆平</td>
          <td>第6回新人戦</td>
          <td>島原</td>
          <td>2021/10/16</td>
        </tr>
        <tr>
          <td>2</td>
          <td>22&quot;06</td>
          <td>清田薫</td>
          <td>第1回新人戦</td>
          <td>平和台</td>
          <td>2016/10/16</td>
        </tr>
        <tr>
          <td>3</td>
          <td>22&quot;42</td>
          <td>武田悠真</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>22&quot;48</td>
          <td>原祐介</td>
          <td>鞘ヶ谷記録会</td>
          <td>鞘ヶ谷</td>
          <td>2022/4/4</td>
        </tr>
        <tr>
          <td>5</td>
          <td>22&quot;77</td>
          <td>竹田理人</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1>400m</h1>
      <table id="400mtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>49&quot;06</td>
          <td>原祐介</td>
          <td>第92回九州インカレ</td>
          <td>博多の森</td>
          <td>2022/5/22</td>
        </tr>
        <tr>
          <td>2</td>
          <td>49&quot;64</td>
          <td>清田薫</td>
          <td>第1回新人戦</td>
          <td>平和台</td>
          <td>2016/10/15</td>
        </tr>
        <tr>
          <td>3</td>
          <td>51&quot;88</td>
          <td>川越響気</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>52&quot;81</td>
          <td>東侑成</td>
          <td>第51回九州CS</td>
          <td>久留米</td>
          <td>2023/9/22</td>
        </tr>
        <tr>
          <td>5</td>
          <td>53”98</td>
          <td>重信伊織</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2023/6/3</td>
        </tr>
      </table>

      <h1>800m</h1>
      <table id="800mtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2&#039;00&quot;43</td>
          <td>上木太晟</td>
          <td>第88回九州インカレ</td>
          <td>博多の森</td>
          <td>2018/5/18</td>
        </tr>
        <tr>
          <td>2</td>
          <td>2&#039;00&quot;85</td>
          <td>杉原虎太朗</td>
          <td>第50回九州cs</td>
          <td>久留米</td>
          <td>2022/9/23</td>
        </tr>
        <tr>
          <td>3</td>
          <td>2&#039;04&quot;98</td>
          <td>出田大貴</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2023/6/3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>2&#039;05&quot;34</td>
          <td>重信伊織</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2023/6/3</td>
        </tr>
      </table>

      <h1>1500m</h1>
      <table id="1500mtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>4&#039;05&quot;94</td>
          <td>出田大貴</td>
          <td>第48回九州cs</td>
          <td>久留米</td>
          <td>2020/9/20</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4&#039;11&quot;22</td>
          <td>杉原虎太朗</td>
          <td>愛媛県選手権</td>
          <td>愛媛</td>
          <td>2022/7/17</td>
        </tr>
        <tr>
          <td>3</td>
          <td>4&#039;13&quot;44</td>
          <td>斎賀拓夢</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2024/6/1</td>
        </tr>
        <tr>
          <td>4</td>
          <td>4&#039;15&quot;85</td>
          <td>福田雄大</td>
          <td>第43回九州cs</td>
          <td>久留米</td>
          <td>2015/9/18</td>
        </tr>
        <tr>
          <td>5</td>
          <td>4&#039;19&quot;17</td>
          <td>相原智典</td>
          <td>第3回新人戦</td>
          <td>島原</td>
          <td>2018/10/13</td>
        </tr>
      </table>

      <h1>5000m</h1>
      <table id="5000mtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>14&#039;49&quot;59</td>
          <td>出田大貴</td>
          <td>駅伝選考会</td>
          <td>佐賀</td>
          <td>2020/11/14</td>
        </tr>
        <tr>
          <td>2</td>
          <td>17’55”57</td>
          <td>相原智典</td>
          <td>第51回九州cs</td>
          <td>久留米</td>
          <td>2023/5/5</td>
        </tr>
      </table>

      <h1>10000m</h1>
      <table id="10000mtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>35&#039;22&quot;75</td>
          <td>米澤実</td>
          <td>第87回九州インカレ</td>
          <td>長崎</td>
          <td>2017/5/14</td>
        </tr>
      </table>

      <h1>110mH</h1>
      <table id="110mHtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>13&quot;94</td>
          <td>尾崎俊祐</td>
          <td>第72回西日本イン</td>
          <td>京都</td>
          <td>2019/6/23</td>
        </tr>
        <tr>
          <td>2</td>
          <td>14&quot;56</td>
          <td>原田匠</td>
          <td>第50回九州CS</td>
          <td>久留米</td>
          <td>2022/9/25</td>
        </tr>
      </table>

      <h1>400mH</h1>
      <table id="400mHtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>59&quot;57</td>
          <td>野木侃</td>
          <td>第86回九州インカレ</td>
          <td>博多の森</td>
          <td>2016/5/21</td>
        </tr>
        <tr>
          <td>2</td>
          <td>1&#039;00&quot;77</td>
          <td>岩永俊介</td>
          <td>第7回新人戦</td>
          <td>島原</td>
          <td>2022/10/16</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1&#039;03&quot;38</td>
          <td>末廣龍樹</td>
          <td>第3回新人戦</td>
          <td>島原</td>
          <td>2018/10/13</td>
        </tr>
        <tr>
          <td>4</td>
          <td>1&#039;08&quot;42</td>
          <td>宗悟志</td>
          <td>第7回新人戦</td>
          <td>島原</td>
          <td>2022/10/16</td>
        </tr>
      </table>

      <h1>3000mSC</h1>
      <table id="300mSCtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>9’47”44</td>
          <td>出田大貴</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2023/6/3</td>
        </tr>
      </table>

      <h1>4×100mR</h1>
      <table id="4×100mRtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>42&quot;57</td>
          <td>一木・尾崎・清田・新垣</td>
          <td>第87回九州インカレ</td>
          <td>長崎</td>
          <td>2017/5/14</td>
        </tr>
        <tr>
          <td>2</td>
          <td>42&quot;83</td>
          <td>一木・尾崎・清田・新垣</td>
          <td></td>
          <td></td>
          <td>2016/9/16</td>
        </tr>
        <tr>
          <td>3</td>
          <td>43&quot;18</td>
          <td>一木・尾崎・清田・新垣</td>
          <td></td>
          <td></td>
          <td>2015/9/25</td>
        </tr>
        <tr>
          <td>4</td>
          <td>43&quot;33</td>
          <td>一木・尾崎・清田・武田</td>
          <td></td>
          <td>第45回九州cs</td>
          <td>2017/9/16</td>
        </tr>
      </table>

      <h1>4×400mR</h1>
      <table id="4×400mRtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>3&#039;24&quot;98</td>
          <td></td>
          <td>第44回九州cs</td>
          <td>久留米</td>
          <td>2016/9/17</td>
        </tr>
        <tr>
          <td>2</td>
          <td>3&#039;25&quot;31</td>
          <td></td>
          <td>第43回九州cs</td>
          <td>久留米</td>
          <td>2015/9/26</td>
        </tr>
        <tr>
          <td>3</td>
          <td>3&#039;31&quot;18</td>
          <td>末廣・原・佐藤・上木</td>
          <td>第47回九州cs</td>
          <td>本城</td>
          <td>2022/9/21</td>
        </tr>
        <tr>
          <td>4</td>
          <td>3&#039;33&quot;14</td>
          <td>上木・原・小林・佐藤</td>
          <td>第89回九州インカレ</td>
          <td>熊本</td>
          <td>2019/5/19</td>
        </tr>
        <tr>
          <td>5</td>
          <td>3&#039;33&quot;77</td>
          <td>末廣・清田・佐藤・上木</td>
          <td>第46回九州cs</td>
          <td>平和台</td>
          <td>2018/9/15</td>
        </tr>
      </table>

      <h1>走幅跳</h1>
      <table id="longJumptable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>7m45</td>
          <td>原田匠</td>
          <td>第7回新人戦</td>
          <td>島原</td>
          <td>2022/10/15</td>
        </tr>
        <tr>
          <td>2</td>
          <td>6m62</td>
          <td>竹本一晴</td>
          <td>第44回九州cs</td>
          <td>久留米</td>
          <td>2016/9/17</td>
        </tr>
        <tr>
          <td>3</td>
          <td>6m59</td>
          <td>吉田亮介</td>
          <td>第7回新人戦</td>
          <td>島原</td>
          <td>2022/10/15</td>
        </tr>
        <tr>
          <td>4</td>
          <td>6m57</td>
          <td>竹本一晴</td>
          <td>第86回九州インカレ</td>
          <td>博多の森</td>
          <td>2016/5/20</td>
        </tr>
        <tr>
          <td>5</td>
          <td>6m34</td>
          <td>時實拓紀</td>
          <td>第2回新人戦</td>
          <td>平和台</td>
          <td>2017/10/15</td>
        </tr>
      </table>

      <h1>三段跳</h1>
      <table id="tripleJumptable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>14ｍ25</td>
          <td>久富大輝</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2023/6/3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>13m03</td>
          <td>竹本一</td>
          <td>第1回新人戦</td>
          <td>平和台</td>
          <td>2016/10/16</td>
        </tr>
        <tr>
          <td>3</td>
          <td>11m61</td>
          <td>時實拓紀</td>
          <td>第2回新人戦</td>
          <td>平和台</td>
          <td>2017/10/15</td>
        </tr>
        <tr>
          <td>4</td>
          <td>11ｍ24</td>
          <td>吉田亮介</td>
          <td>北九州インカレ</td>
          <td>鞘ヶ谷</td>
          <td>2023/6/3</td>
        </tr>
      </table>

      <h1>走高跳</h1>
      <table id="highJumptable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>1m90</td>
          <td>西口智生</td>
          <td>第49回九州cs</td>
          <td>久留米</td>
          <td>2021/9/26</td>
        </tr>
        <tr>
          <td>2</td>
          <td>1m80</td>
          <td>高橋賢</td>
          <td>第43回九州cs</td>
          <td>久留米</td>
          <td>2015/9/26</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1m75</td>
          <td>川添叶真</td>
          <td>第7回新人戦</td>
          <td>島原</td>
          <td>2022/10/16</td>
        </tr>
      </table>

      <h1>砲丸投</h1>
      <table id="shotPuttable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>11m87</td>
          <td>原田翔平</td>
          <td>第43回九州cs</td>
          <td>久留米</td>
          <td>2015/9/27</td>
        </tr>
      </table>

      <h1>やり投</h1>
      <table id="javelinThrowtable">
        <tr>
          <th>順位</th>
          <th>記録</th>
          <th>名前</th>
          <th>大会名</th>
          <th>場所</th>
          <th>日付</th>
        </tr>
        <tr>
          <td>1</td>
          <td>51m35</td>
          <td>勝田真崇</td>
          <td>第7回新人戦</td>
          <td>島原</td>
          <td>2022/10/15</td>
        </tr>
        <tr>
          <td>2</td>
          <td>50m58</td>
          <td>浦田忠宜</td>
          <td>第43回九州cs</td>
          <td>久留米</td>
          <td>2015/9/26</td>
        </tr>
        <tr>
          <td>3</td>
          <td>48m98</td>
          <td>森下和樹</td>
          <td>鞘ヶ谷記録会</td>
          <td>鞘ヶ谷</td>
          <td>2017/11/22</td>
        </tr>
      </table>
      <script src="records.js"></script>
    </div>
  </main>

  <div id="footer">
    <script>
      fetch("/footer.ejs")
        .then((response) => response.text())
        .then((data) => document.querySelector("#footer").innerHTML = data);
    </script>
  </div>
</body>

</html>