<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>九州工業大学陸上競技部</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.10/xlsx.full.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/top.css">
        <link rel="stylesheet" href="/css/records.css">
        <link rel="stylesheet" href="/css/output.css">
    </head>
    <body>
      <div id="header">
       <script>
           fetch("/header.ejs")
               .then(response => response.text())
               .then(data => {
                   document.querySelector("#header").innerHTML = data;
               })
               .catch(error => console.error('Error fetching header:', error));
       </script>
      </div>

      <main class="content">
        <div id = record>
          <h2>記録</h2>
          <h1>100m</h1>
          <table id="100mtable">
            <thead>
              </tr>
              <table>
                <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
                  <th>日付</th>
                <tr>
                  <td>11&quot;02</td>
                  <td>大倉隆平</td>
                  <td>朝日記録会</td>
                  <td>鞘ヶ谷</td>
                  <td>2021/11/7</td>
                </tr>
                <tr>
                  <td>11&quot;05</td>
                  <td>尾崎俊祐</td>
                  <td>鞘ヶ谷記録会</td>
                  <td>鞘ヶ谷</td>
                  <td>2019/8/3</td>
                </tr>
                <tr>
                  <td>11&quot;14</td>
                  <td>原祐介</td>
                  <td>北九州インカレ</td>
                  <td>鞘ヶ谷</td>
                  <td>2023/6/3</td>
                </tr>
                <tr>
                  <td>11&quot;25</td>
                  <td>吉田亮介</td>
                  <td>北九州インカレ</td>
                  <td>鞘ヶ谷</td>
                  <td>2023/6/3</td>
                </tr>
                <tr>
                  <td>11&quot;59</td>
                  <td>岩永俊介</td>
                  <td>新人戦</td>
                  <td>島原</td>
                  <td>2023/10/15</td>
              </table>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>200m</h1>
          <table id="200mtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>400m</h1>
          <table id="400mtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>800m</h1>
          <table id="800mtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>1500m</h1>
          <table id="1500mtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>5000m</h1>
          <table id="5000mtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>10000m</h1>
          <table id="10000mtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>110mH</h1>
          <table id="110mHtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>400mH</h1>
          <table id="400mHtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>3000mSC</h1>
          <table id="300mSCtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>4×100mR</h1>
          <table id="4×100mRtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>4×400mR</h1>
          <table id="4×400mRtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>走幅跳</h1>
          <table id="longJumptable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>三段跳</h1>
          <table id="tripleJumptable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>走高跳</h1>
          <table id="highJumptable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>砲丸投</h1>
          <table id="shotPuttable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <h1>やり投</h1>
          <table id="javelinThrowtable">
            <thead>
              <tr>
                  <th>記録</th>
                  <th>名前</th>
                  <th>大会名</th>
                  <th>場所</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

          <script src="records.js"></script>
        </div>
      </main>

          <div id="footer">
            <script>
            fetch("/footer.ejs")
              .then((response) => response.text())
              .then((data) => document.querySelector("#footer").innerHTML = data);
            </script>
            </div>
          </body>
      </html>