body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

article {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* ホバー時の背景色変更を追加 */
}

article h2 {
    color: #444;
    font-size: 24px; /* タイトルのフォントサイズを大きく設定 */
}

article img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none; /* リンクの下線を削除 */
    color: inherit; /* リンクの色を継承 */
}

a:hover article {
    background-color: #e0e0e0; /* ホバー時に背景色を変更 */
}
.content {
    white-space: pre-wrap; /* テキストの改行とスペースをそのまま表示 */
}
