#record > h2::before ,#record > h2::after{
    content: url(/img/top/line.png);
}
main{
    max-width: 1200px;
    background-color: aliceblue;
    margin: 0 auto;
}

#record > h2{
    font-size: 40px;
    text-align: center;
}

#record > h1{
    font-size: 30px;
    text-align: center;
}

#record > table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#record > th, td {
    border: 3px solid black;
    padding: 8px;
    background-color: #f2f2f2;
}

#record > td {
    border: 1px solid black;
    padding: 8px;
}