/* フォントの設定 */


@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #cfcfcf;
    background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    color: #222;
  
}

.backgraund{
    max-width: 1200px;
    margin: 0 auto;
}

#top_header{
    height: 220px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    border-radius: 476px 0 476px 0;
}

#top_header > h1::before{
    content: url(../img/KIT_logo.gif);;
    display: block;
    width: 40px;
    height: 40px;
}


#top_header > h1{
    position: absolute;
    left: 25%;
    font-size: 40px;
    font-family: "Itim",cursive;
}

#top_header > h2{
    position: absolute;
    left: 25%;
    font-family: "Itim",cursive;
    position: absolute;
}

#top_header > p{
    position: absolute;
    left: 80%;
}

#nav-pc-top{
    position:absolute;
    top: 170px;
    right: 20%;
    font-size: 20px;
}

/* リンクの装飾*/
#nav-pc-top > a , #nav-pc-end > a,#back-btn{
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Sawarabi Gothic', sans-serif;
}

#nav-pc-top > a:link,.detail_place:link,#nav-pc-end>a:link{
    color: black;
}

#nav-pc-top > a:visited,.detail_place:visited,#nav-pc-end>a:visited{
    color: black;
}

#nav-pc-top > a:hover ,.detail_place:hover,#nav-px-end>a:hover{
    color: black;
    text-decoration: underline;
}

#nav-pc-top > a:active,.detail_place:active,#nav-pc-end>a:active{
    color: black;
}

#back-btn {
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(99, 157, 224);
    text-align: center;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 90%;
    left: 79%;
    z-index: 20;
}
/* ーーーーーーーーー */

/* メインビジュアル */



#main_visual{
    margin: 20px auto;
    max-width: 1200px;
    position: relative;
    height:500px;
    background-color: #f5f5f5;
    color: #f5f5f5;
}

#main_section{
    background-color:navy;
    position:absolute;
    top: 0;
    left: 0;
    right: 40%;
    bottom: 0;
    border-radius: 0 0 476px;

}

#main_section > h1{
    font-weight: bold;
    font-size: 46px;
    margin: 160px 0 0 50px;

}

#main_section > p{
    font-size: 25px;
    margin: 20px 0 0 50px;

}

#main_image{
    border-radius: 476px 0 0 0;
}

/* 切り替わる画像 */
.images {
    position: absolute;
    width: 60%;
    border-radius: 476px 0 0 0;
    top: 0;
    left: 40%;
    bottom: 0;
    right: 0;
    background-size: cover;
    opacity: 0;
    background-position: center center;
    animation: image-switch-animation 15s infinite;
}
.src1 {
    background-image: url(../img/top/main_visual_image_1.JPG);
}
.src2 {
    background-image: url(../img/top/main_visual_image_2.JPG);
}
.src3 {
    background-image: url(../img/top/main_visual_image_3.JPG);
}

@keyframes image-switch-animation {
    0%{ opacity: 0;}
    3%{ opacity: 1;}
    36%{ opacity: 1;}
    40%{ opacity: 0;}
    100%{ opacity: 0;}
}

.images:nth-of-type(1) {
    animation-delay: 0s;
}
.images:nth-of-type(2) {
    animation-delay: 5s;
}
.images:nth-of-type(3) {
    animation-delay: 10s;
}

/* ----------------------- */

/* 新入生へ */
#new_student > div{
    margin-top: 40px;
}

#new_student > h2::before ,#new_student > h2::after,#active_place > h2::before,#active_place > h2::after{
    content: url(../img/top/line.png);
}
#new_student > h2{
    font-size: 40px;
    margin:40px 0 40px 0;
}

#new_student > p{
    font-size:20px;
}

#new_student>div{
    display: flex;
}

#new_student_left,#new_student_right{
    width: 50%;
    margin: 10px 20px 10px 20px;
}

#new_student_left > div,#new_student_right > div{
    width: 100%;
    position: relative;
    
}

.new_student_image{
    width:100%;
    height: 400px;
    border-radius: 0 0 200px 200px;
    margin: 0 0 200px 0;
    z-index: 10;
}

.new_student_massage{
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    z-index: 11;
    border: 1px solid #000000;
    border-radius: 50px 50px 50px 50px;
    font-size: 15px;
    top:340px;
    text-align: center;
    
}

.new_student_massage > h3{
    font-size: 25px;
    text-align: center;
}

.message_center{
    text-align: center;
}

#massage3{
    margin-top: 30px;
}
#massage4{
    margin-top: 40px;
}

.detail_place{
    margin-left: 20px;
    text-decoration: none;
}

/* 活動場所 */


#active_place_flex{
    display:flex;
}

#eng_place,#info_place{
    width: 50%;
    margin: 0px 100px 30px 100px;
    position: relative;
}


#active_place>h2{
    font-size: 40px;
    margin-bottom: 0px;
}

#eng_place>h3,#info_place>h3{
    font-size: 30px;
}
#eng_place>p,#info_place>p{
    font-size: 20px;
    }
.map{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

#eng_place::after{
    position: absolute; /*--positionを追加--*/
    content: "";
    top: 0;
	left: 100%;
	margin: 0 100px;
	width: 1px; /*--縦線の太さ(幅)--*/
	height: 100%;
	background-color:black; /*--縦線の色--*/
} 

.info_adress{

    margin: 0px auto 10px auto;
    background-color: #ffffff;
    width: 400px;
    height: 100px;
    box-shadow: 10px 10px 10px black;
    text-align: center;
}

/* フッターの作成 */
#footer-back{
    max-width: 1200px;
    height: 11  0px;
    background-color: aqua;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}       


#instagram::after{
    content: url(../img/instagram_icon.png);
    
}

#twiter::after{
    content: url(../img/Twitter_icon.png);
}

#footer-line{
    color: #ffffff;
}
#footer-back>p:nth-of-type(2){
    font-size: 10px;
    margin: 0px;
}
#footer-back>p{
    margin: 0px;
}